/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
  }
  
  body {
    background-color: #f4f9fb;
    color: #333;
    line-height: 1.6;
    font-size: 18px; /* Tamaño base de fuente aumentado */
  }
  
  .container {
    width: 200%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
  }
  
  /* Header */
  header {
    background: linear-gradient(to right, #d0f1ff, #f0fcff);
    text-align: center;
    padding: 60px 0;
    border-bottom: 4px solid #e0f7ff;
  }
  
  header h1 {
    font-size: 3.2rem; /* Aumentado */
    color: #0d6efd;
  }
  
  header p {
    font-size: 1.5rem; /* Aumentado */
    color: #555;
  }
  
  /* Navigation */
  nav {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #0d6efd;
    font-weight: bold;
    padding: 8px 14px;
    font-size: 1.1rem; /* Aumentado */
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  nav ul li a:hover {
    background-color: #e6f2ff;
  }
  
  /* Sections */
  .section {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    padding: 40px 20px;
  }
  
  .section h2 {
    color: #0d6efd;
    margin-bottom: 20px;
    font-size: 2rem; /* Aumentado */
  }
  
  .section ul li {
    margin-bottom: 10px;
    list-style-type: square;
    padding-left: 10px;
    font-size: 1.1rem; /* Aumentado */
  }
  
  /* WhatsApp Button */
  .whatsapp-button {
    display: inline-block;
    background-color: #38c54d;
    color: #000000;
    padding: 14px 24px; /* Aumentado */
    font-size: 18px; /* Aumentado */
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s ease;
  }
  
  .whatsapp-button:hover {
    background-color: #1ebc59;
    transform: scale(1.05);
  }
  
  /* Turnos */
  .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #38c54d;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem; /* Aumentado */
    transition: background 0.3s, transform 0.3s ease;
  }
  
  .boton:hover {
    background-color: #d0f1ff;
    transform: scale(1.05);
  }

  input[type="text"],
  input[type="tel"],
  input[type="date"],
  textarea {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  /* Footer */
  footer {
    background-color: #e8f7ff;
    text-align: center;
    padding: 20px;
    font-size: 1rem; /* Aumentado */
    color: #555;
    border-top: 1px solid #bde7f7;
  }
